.signButton {
  inline-size: 268px;
  block-size: 44px;
  background-color: #3578ff;
  border-radius: 999px;
  color: #ffffff;
  font-weight: 600;
  padding-inline: 12px;
  padding-block: 0;
  margin-block-start: 40px;

  position: relative;
  top: -65px;
}
